################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/G9LogManagementNUnitTest/bin/Debug/netcoreapp3.0/G9Logs/Default/2019-10-04
