<?xml version="1.0" encoding="utf-8"?>
<!--
   ____ ___  _                  ____             __ _       
  / ___/ _ \| |    ___   __ _  / ___|___  _ __  / _(_) __ _ 
 | |  | (_) | |   / _ \ / _` || |   / _ \| '_ \| |_| |/ _` |
 | |_| \__, | |__| (_) | (_| || |__| (_) | | | |  _| | (_| |
  \____| /_/|_____\___/ \__, (_\____\___/|_| |_|_| |_|\__, |
            G9Studio    |___/                         |___/
-->
<Configuration G9ConfigVersion="1.0">
  <LogManagementConfig>
    <!--Specify path for logs-->
    <Path>Logs/</Path>
    <!--Specify need zip archive for previous day-->
    <ZipArchivePreviousDay>true</ZipArchivePreviousDay>
    <!--'Gregorian' or 'Shamsi'-->
    <DirectoryNameDateType>Shamsi</DirectoryNameDateType>,
    <!--ثبت لاگ های مرتبط با برنامه-->
    <ComponentLog>true</ComponentLog>,
    <!--Specify active logs-->
    <ActiveLogs>
      <EVENT>true</EVENT>
      <INFO>true</INFO>
      <WARN>true</WARN>
      <ERROR>true</ERROR>
      <EXCEPTION>true</EXCEPTION>
    </ActiveLogs>
    <!--Specify enable stack trace information for logs-->
    <EnableStackTraceInformation>
      <EVENT>true</EVENT>
      <INFO>true</INFO>
      <WARN>true</WARN>
      <ERROR>true</ERROR>
      <EXCEPTION>true</EXCEPTION>
    </EnableStackTraceInformation>
    <!--User pass for encryotion and log user pass sign in-->
    <!--Remove or comment 'LogUserName' And 'LogPassword' if don't need-->
    <LogUserName></LogUserName>
    <LogPassword></LogPassword>
    <!--Set 0 => Unlimited | Min value: 5000-->
    <!--Set in kb = 10240Kb => 10Mb-->
    <MaxFileSize>10240</MaxFileSize>
    <!--Specify time in second for save logs-->
    <!--Minimum set 1-->
    <SaveTime>1</SaveTime>
    <!--Specify count of logs for save logs-->
    <!--Minimum Set 0 => withut queue-->
    <SaveCount>100</SaveCount>
  </LogManagementConfig>
  <LogReaderConfig>
    <!--'fa' or 'en-us'-->
    <LogReaderDefaultCulture>fa</LogReaderDefaultCulture>
    <!--'Dashboard' or 'LogsManagement'-->
    <LogReaderStarterPage>LogsManagement</LogReaderStarterPage>
  </LogReaderConfig>
</Configuration>